extends userLayout.pug
block userContent
  h1= title
  p Welcome to #{title}!!!
  p
   a(href='users/all') All users
  p
   a(href='users/new') Create user
  p 
   a(href='users/up') Update users
  p 
   a(href='users/del') Delete users