extends userLayout.pug
block userContent
  h1= title
  p Welcome to #{title}
  form(method="post")
   p
    label(for='name') Enter New Name
    br
    input(name='name' id='name') 
    |
   p
    label(for='age') Enter Age
    br
    input(name='age' id='age' type='number') 
    |
   p 
    label(for='goodi') Enter Good or Bad
    br
    select(name='goodi' id='goodi')
     option(value='true') Good
     option(value='false') Bad
   p
    input(type='submit')
    |